
*{
    margin: 0;
    padding: 0;

}
article{
    width: auto;
    height: 506px;
    background: rgb(80, 71, 71);
    padding: 10px;
    margin-top: 67px;
}
.cart-box img{
    width: 50px;
    height: 50px;
}
.cart-img{
 & p{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color:rgb(196, 183, 183);
 }   

}
.cart-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid rgb(187, 193, 196);
    padding-bottom: 5px;

  &  .btn-1 button{
    padding: 5px;
    font-weight: bold;
    margin-right: 5px;
  }
  &  .btn-2 button{
    padding: 5px 10px;
    font-weight: bold ;
    letter-spacing: 2px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  } 
  .btn-2 button:hover{
    background-color: gray;
  } 
  span{
    background-color: rgb(97, 197, 228);
    padding: 3px 3px;
    margin-right: 5px;
    border-radius: 3px;
  }
}
.total{
    padding-top: 10px;
   span{
       color:white;
    }
    .sp-2{
        float: right;
       
    }
    .sp-1{
        float: left;
    }
}
